
.App {
  text-align: center;
}
.nav{
  background-color: rgb(96, 238, 214);
  height: 100px;
}
.logo{
  width: 250px;
}
#serch-bar{
  position: relative;
  left: 50px;
  right: 50px;
  /* flex-direction: row; */
}
Button{
  border-radius: 50%;
}