
.App {
  text-align: center;
}
.nav{
  background-color: #9DBCD4;
  height: 70px;
}
.logo{
  width: 250px;
}
#serch-bar{
  position: relative;
  left: 50px;
  right: 50px;
  /* flex-direction: row; */
}
Button{
  border-radius: 50%;
}
.d-block {
  width: 1350px;
  height: 590px;
}
.head1{
  text-align: center;
}

.raise:hover, .raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.raise {
  --color: #040c1b;
  --hover: #e5ff60;
}

button {
  color: var(--color);
  transition: 0.25s;
}
button:hover, button:focus {
  border-color: var(--hover);
  color: #fff;
}
button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 0.5em 1em;
}