
.App {
  text-align: center;
}
.nav{
  background-color: #9DBCD4;
  height: 100px;
}
.logo{
  width: 250px;
}
#serch-bar{
  position: relative;
  left: 50px;
  right: 50px;
  /* flex-direction: row; */
}
Button{
  border-radius: 50%;
}
.d-block {
  width: 1350px;
  height: 590px;
}
.head1{
  text-align: center;
}
